<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>

<a href="/home/layout_page1">Page 1</a>
<a href="/home/layout_page2">Page 2</a>
	</header>
	<div id='container'></div>
<%= yield %>
<footer>
	This is footer
</footer>

</body>
</html>
