<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'jumbotron_narrow', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  </header>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li><a href="/home/jumbotron_narrow_page">Page 1</a></li>
          <li><a href="/home/jumbotron_page">Page 2</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Project name</h3>
    </div>
    <div id='container'>
      <%= yield %>
    </div>
    <footer class="footer">
      <p>© Company 2014</p>
    </footer>
  </div>
</body>
</html>
